.backToTop{
    position: absolute;
    width: 12rem;
    bottom: 4vh;
    left: 2vh;
    opacity: 0;
    display: none;    
    z-index: 50;
    transition: all .5s ease-in-out;
  }

.backToTop-apparition{
    display: block;
    animation: apparitionArrowToTop .5s forwards;
}
@keyframes apparitionArrowToTop{
    from{    
        opacity: 0;
        left: 2vh;
    }
    to{
        opacity: 1;
        left: 4vh;
    }
}
  
.backToTop-icon{
    cursor: pointer;
    font-size: 3rem;
    width: auto;
}

  .backToTop-icon::before{
    transition: all .5s ease-in-out;
    font-size: 1rem;
    width: 12rem;
    position: absolute;
    opacity: 0;
    transform: translateY(1.5rem);
    content: "Remonter";
  }

  .backToTop-icon:hover::before{
    opacity: 1;
    transform: translate(3.15rem, 1.5rem);
  }