.show__container{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }

.show__pictures-column{
    text-align: center;
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show__pictures-column-center{
    width: 50%;
    z-index: 20;
}

.show__pictures-column-left{
    width: 25%;
    align-items: flex-end;
    left: 0;
}

.show__pictures-column-right{
    width: 25%;
    align-items: flex-start;
    right: 0;
}

.show__pictures-img{
    background: whitesmoke;
    padding: 1.25vh 1.25vh 13.5vh;
    height: 70vh;
    width: 57.5vh;
    object-fit: cover;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.step2{
    width: 90%;
    padding: 0;
    height: auto;
    background: none;
}

.show__pictures-img-shown{
    margin: 3%;
    margin-bottom: 5%;
    display: block;
    height: auto;
    cursor: pointer;
}

.show__pictures-img-main{
    position: absolute;
    width: 35vw;
    height: auto;
}

.disappear{
    opacity: 0;
}
  
.titre{
    position: fixed;
    bottom: 15vh;
    font-size: 5rem;
    text-align: center;
    transition: all .5s ease-in-out;
    color: black;
    font-family: 'Dancing Script', cursive;
    z-index: 20;
}

.titreToTop{
    transform: translateY(-65vh); 
    font-size: 6rem;
    color: white;
}

.exitcross{
    position: absolute;
    cursor: pointer;
    top: 4vh;
    right: 4rem;
    font-size: 3rem;
    display: none;
    z-index: 1000;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* rubriques contact et about */

.rubrique{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: var(--main-color);
    position: absolute;
    top: 0;
    z-index: 30;
}

.rubrique-exitcross{
    position: absolute;
    cursor: pointer;
    top: 4vh;
    right: 4rem;
    font-size: 3rem;
}

.rubrique-container{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
}

.rubrique-contact-left{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    justify-content: space-evenly;
}

.rubrique-title{
    text-align: center;
    font-size: 3rem;
}

.rubrique-contact-left p{
    padding: 6px;
}

.rubrique-curvedline-container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75vw;
    height: auto;
}

.rubrique-curvedline{
    fill: none;
    stroke: whitesmoke;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width : .75;
}

.rubrique-contact-right{
    display: flex;
    justify-content: center;
}

/* about */

.about>.rubrique-curvedline-container{
    left: 25vw;
}

.rubrique-about-left{
    display: flex;
    justify-content: center;
}

.about-portrait-container{
    background: whitesmoke;
    padding: 1.25vh;
    height: 70vh;
    width: 57.5vh;
}

.portrait{
    width: 100%;
    height: auto;
}

.portrait-name{
    width: 100%;
    text-align: center;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
}

.rubrique-about-right{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    justify-content: space-evenly;
}

.rubrique-about-right p{
    padding: 6px;
}

.about-social{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3rem;
}

.about-social__icon {
    display: flex;
    justify-content: center;    
    cursor: pointer;
}

.about-social__icon::before{
    transition: all .5s ease-in-out;
    font-size: 1rem;
    position: absolute;
    opacity: 0;
}
  
.about-social__icon-flickr::before{
    content: "flickr";
}
  
.about-social__icon-instagram::before{
    content: "instagram";
}
  
.about-social__icon-contact::before{
    content: "contact";
}
  
.about-social__icon:hover::before{
    opacity: 1;
    transform: translateY(3.5rem);
}

@media (orientation: portrait) {
    .rubrique-container {
      flex-direction: column;
    }
    .rubrique-left,
    .rubrique-right{
        width: 100%;
        margin: 2%;
    }
}