/* BURGER MENU */

.menu{
    position: absolute;
    top: 4vh;
    left: 4vh;
  }
  
  .menu-rubrique{
    position: relative;
    opacity: 0;
    transition: all .25s ease-in-out;
    cursor: pointer;
  }
  
  .menu-rubrique-apparition{
    opacity: 1;
    margin-top: 6vh;
  }
  
  .burger-container {
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    cursor: pointer;
  }
  
  .burger {
    width: 50px;
    height: 6px;
    background: whitesmoke;
    border-radius: 5px;
    transition: all .25s ease-in;
  }
  
  .burger-top{
    transform: rotate(45deg) translate(5px, -7.5px);
    transform-origin: left;
  }
  .burger-middle{
    transform: translateX(-20px);
    opacity: 0;
  }
  .burger-bottom{
    transform: rotate(-45deg) translate(5px, 7.5px);
    transform-origin: left;
  }
  
  /* SHOW CONTAINER */

  .show__container{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }

.show__pictures-column{
    text-align: center;
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show__pictures-column-center{
    width: 50%;
    z-index: 20;
}

.show__pictures-column-left{
    width: 25%;
    align-items: flex-end;
    left: 0;
}

.show__pictures-column-right{
    width: 25%;
    align-items: flex-start;
    right: 0;
}

.show__pictures-img{
    background: whitesmoke;
    padding: 1.25vh 1.25vh 13.5vh;
    height: 70vh;
    width: 57.5vh;
    object-fit: cover;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.step2{
    width: 90%;
    padding: 0;
    height: auto;
    background: none;
}

.show__pictures-img-shown{
    margin: 3%;
    margin-bottom: 5%;
    display: block;
    height: auto;
    cursor: pointer;
}

.show__pictures-img-main{
    position: absolute;
    width: 35vw;
    height: auto;
}

.disappear{
    opacity: 0;
}
  
.titre{
    position: absolute;
    bottom: 0;
    transform: translateY(-17.5vh);
    font-size: min(5vw, 5rem);
    text-align: center;
    transition: all .5s ease-in-out;
    color: black;
    font-family: 'Dancing Script', cursive;
    z-index: 20;
}

.titreToTop{
    transform: translateY(-85vh); 
    font-size: min(8vw, 8rem);
    color: white;
}

.exitcross{
    position: absolute;
    cursor: pointer;
    top: 4vh;
    right: 4rem;
    font-size: 3rem;
    display: none;
    z-index: 1000;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.navigation-chevrons{
    display: none;
}

/* rubriques contact et about */

.rubrique{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: var(--main-color);
    position: absolute;
    top: 0;
    font-size: 1.5rem;
    z-index: 30;
}

.rubrique-exitcross{
    position: absolute;
    cursor: pointer;
    top: 4vh;
    right: 4rem;
    font-size: 3rem;
}

.rubrique-container{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
}

.rubrique-contact-left{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    justify-content: space-evenly;
}

.rubrique-title{
    text-align: center;
    font-size: 3rem;
}

.rubrique-contact-left p{
    padding: 6px;
}

.rubrique-curvedline-container{
    position: absolute;
    bottom: 0;
    width: auto;
    max-width: 75vw;
    height: auto;
    max-height: 50vh;
}

.contact > .rubrique-curvedline-container{
    left: 0;
}

.rubrique-curvedline{
    fill: none;
    stroke: whitesmoke;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width : .75;
}

.rubrique-contact-right{
    display: flex;
    justify-content: center;
}

/* about */

.about > .rubrique-curvedline-container{
    right: 0;
}

.rubrique-about-left{
    display: flex;
    justify-content: center;
}

.about-portrait-container{
    background: whitesmoke;
    padding: 1.25vh;
    height: 70vh;
    width: 57.5vh;
}

.portrait{
    width: 100%;
    height: auto;
}

.portrait-name{
    width: 100%;
    text-align: center;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 9vh;
}

.rubrique-about-right{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    justify-content: space-evenly;
}

.rubrique-about-right p{
    padding: 6px;
}

.about-social{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 5rem;
}

.about-social__icon {
    display: flex;
    justify-content: center;    
    cursor: pointer;
}

.about-social__icon::before{
    transition: all .5s ease-in-out;
    font-size: 1rem;
    position: absolute;
    opacity: 0;
}
  
.about-social__icon-flickr::before{
    content: "flickr";
}
  
.about-social__icon-instagram::before{
    content: "instagram";
}
  
.about-social__icon-contact::before{
    content: "contact";
}
  
.about-social__icon:hover::before{
    opacity: 1;
    transform: translateY(3.5rem);
}

/* FOOTER */

.footer{
    width: 100vw;
    position: absolute;
    bottom: 0; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    pointer-events: none;
    z-index: 70;    
}

/* PREVIOUS */

.previous{
    position: relative;
    bottom: 4vh;
    left: 4vh;
    width: 12rem;
    grid-column: 1;
    opacity: 0;
    display: none;
  }
  
.previous-icon{
    cursor: pointer;
    pointer-events: auto;
    font-size: 3rem;
    width: auto;
}

.previous-icon::before{
  content: "Retour";
  transition: transform .5s ease-in-out;
  font-size: 1rem;
  width: 12rem;
  position: absolute;
  opacity: 0;
  transform: translateY(1.5rem);
}

.previous-icon:hover::before{
  opacity: 1;
  transform: translate(3.15rem, 1.5rem);
}

.previous-apparition{
  display: block;
  animation: apparitionPrevious .25s forwards;
}
@keyframes apparitionPrevious{
  from{    
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

/* BACKTOTOP */

.backToTop{
    position: relative;
    bottom: 4vh;
    grid-column: 2;
    width: 12rem;
    opacity: 0;
    display: none;

  }

.backToTop-apparition{
    display: block;
    animation: apparitionArrowToTop .25s forwards;
}
@keyframes apparitionArrowToTop{
    from{    
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
  
.backToTop-icon{
    cursor: pointer;
    pointer-events: auto;
    font-size: 3rem;
    width: auto;
    justify-self: center;
    text-align: center;
}

.backToTop-icon::before{
    content: "Remonter";
    transition: transform .5s ease-in-out;
    font-size: 1rem;
    width: 12rem;
    position: absolute;
    opacity: 0;
    transform: translateY(1.5rem);
}

.backToTop-icon:hover::before{
    opacity: 1;
    transform: translate(3.15rem, 1.5rem);
}

/* SIGNATURE */

.link{
    position: absolute;
    bottom: 4vh;
    right: 0;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
    pointer-events: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
}
  
.my-name{
    position: relative;
}
  
.before, .after{
    overflow: hidden;
    width: 0px;  
    transition: width .5s;
    transform-origin: right;
}
  
.before-text{
    display: inline-block;
    width: auto;
    text-align: right;
}
  
.after-text{
    display: flex;
    width: auto;
}
  
.link:hover .before, .link:hover .after{
    width: 210px;
}
  
.link:hover .spin{
    display: inline-block;
    transition: .5s transform .5s ease-in-out;
    transform: rotate(360deg);
}

/* --- RESPONSIVE --- */

@media (orientation: portrait) {
    
    .menu{
        top: 4vw;
        left: 4vw;
    }
    
    .menu-rubrique-apparition{
        margin-top: 7.5vh;
        font-size: 1.25rem;
        font-weight: 500;
    }
    
    /* SHOW CONTAINER */

    .show__pictures-column-center{
        width: 90vw;
    }

    .show__pictures-column-left{
        display: none;
    }

    .show__pictures-column-right{
        display: none;
    }

    .show__pictures-img{
        padding: 2vw 2vw 15vw;
        height: 110vw;
        width: 90vw;
    }

    .navigation-chevrons{
        display: block;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.5rem;
    }
    
    .navigation-chevrons-right{
        right: 0;
    }

    .navigation-chevrons-left{
        left: 0;
    }

    .step2{
        width: auto;
        max-width: 100vw;
        height: auto;
        max-height: 100vh;
    }

    .titre{
        top: 50%;
        transform: translateY(40vw);
        font-size: 10vw;
        height: 2rem;
    }

    .titreToTop{
        transform: translateY(-50vh); 
        font-size: 3rem;
        color: white;
    }

    /* rubriques contact et about */
    .rubrique{
        z-index: 40;
        font-size: 1rem;
    }
    
    .rubrique-container {
        overflow: scroll;
        width: 90vw;
        height: 100%;
    }

    .contact>.rubrique-container {
        flex-direction: column;
    }
      
    .rubrique-contact-left,
    .rubrique-contact-right{
        width: 100%;
        margin: auto;
    }

    .rubrique-exitcross{
        top: 0;
        right: 2vw;
    }

    .rubrique-curvedline-container{
        display: none;
    }

    /* about */

    .about>.rubrique-container {
        flex-direction: column-reverse;
    }
    
    .about-portrait-container{
        background: whitesmoke;
        padding: 2vw;
        height: 110vw;
        width: 90vw;
    }

    .portrait{
        width: 100%;
        height: auto;
    }

    .portrait-name{
        font-size: 3rem;
    }

    .rubrique-about-right{
        width: 100%;
    }

    .rubrique-about-right p{
        padding: 6px;
    }

    .about-social{
        font-size: 2.5rem;
    }

    /* FOOTER */

    /* PREVIOUS */

    .previous{
        width: 100%;
      }

    .previous{
        bottom: 0;
        left: 4vw;
    }
    
    .previous-icon{
        font-size: 2.5rem;
    }

  
    /* BACKTOTOP */


    .backToTop{
        bottom: 0;
        width: 100%;
    }

    .backToTop-icon{
        font-size: 2.5rem;
    }

    /* SIGNATURE */
  /* ---------------- A ENLEVER DISPLAY:NONE !!!!!!! ---------------- */
    .link{
        display: none;
        position: relative;
        right: 4vw;
        bottom: 0;
        width: auto;
        grid-column: 3;
        justify-content: flex-end;        
    }
    
    .before, .after{
        display: none
    }
    

}