.show__container{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }

.show__pictures{
    background: whitesmoke;
    border: 1px solid black;
    height: 70vh;
    width: 57.5vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.show__pictures-disappear{
    animation: .5s ease-in-out forwards vanish;
}
@keyframes vanish{
    0%{
        background: none;
        border: none;
    }
    100%{
        background: none;
        border: none;
        position: fixed;
        overflow-y: scroll;
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
    }
}

.show__pictures-img{
    display: block;
    margin-top: 1.5vh;
    margin-left: auto;
    margin-right: auto;
    height: 55vh;
    width: 55vh;
    object-fit: cover;
    transition: all .5s ease-in-out;
}
.show__pictures-img-shown{
    position: absolute;
    width: 35vw;
    height: auto;
    transform: translateY(20%);
}

.show__pictures-img-main{
    position: absolute;
    width: 35vw;
    height: auto;
}

.show__pictures-img-left{
    position: absolute;
    left: 5vw;
    bottom: 0;
    height: auto;
    width: 25vw;
    transition: all .5s linear;
}

.show__pictures-img-right{
    position: absolute;
    right: 5vw;
    bottom: -100%;
    height: auto;
    width: 30vw;
    transition: all .5s ease-in-out;
}

.show__navigation{
    display: flex;
    width: 8rem;
    height: 1rem;
    align-items: center;
    justify-content: space-evenly;
    margin : 0 2vw;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
  
.show__navigation-arrow{
    position: relative;
    height: 2px;
    width: 2.5vw;
    border-radius: 5px;
    background: whitesmoke;
    transition: .5s all ease-in-out;
}
  
.show__navigation-left::before{
    content: "prev";
    font-size: 1rem;
    transform: translateX(0);
    transition: all .5s ease-in-out;
}
  
.show__navigation:hover .show__navigation-arrow-left{
    transform: translateX(-4rem);
}
  
.show__navigation-left:hover::before{
    transform: translateX(4rem);
}
  
.show__navigation-right::after{
    content: "next";
    font-size: 1rem;
    transform: translateX(0);
    transition: all .5s ease-in-out;
}
  
.show__navigation:hover .show__navigation-arrow-right{
    transform: translateX(4rem);
}
  
.show__navigation-right:hover::after{
    transform: translateX(-4rem);
}
  
.show__navigation-arrow-pointe{
    width: 1vw;
    height: 2px;
    border-radius: 1px;
    background: whitesmoke;
    transition: all .5s ease-in-out;
}
  
.show__navigation-arrow-pointe-left
{
    position: absolute;
    left: 0;
    transform-origin: left;
}
  
.show__navigation-arrow-pointe-right
{
    position: absolute;
    right: 0;
    transform-origin: right;
}
  
.show__navigation:hover .show__navigation-arrow-pointe-right:nth-child(1),
.show__navigation:hover .show__navigation-arrow-pointe-left:nth-child(1)
{
    transform: rotate(45deg);
}
  
.show__navigation:hover .show__navigation-arrow-pointe-right:nth-child(2),
.show__navigation:hover .show__navigation-arrow-pointe-left:nth-child(2)
{
    transform: rotate(-45deg);
}

.disappear{
    opacity: 0;
}
  
.titre{
    position: fixed;
    bottom: 15vh;
    font-size: 5rem;
    text-align: center;
    transition: all .5s ease-in-out;
    color: black;
    font-family: 'Dancing Script', cursive;
}
.titreToTop{
    transform: translateY(-65vh); 
    font-size : 6rem;
    color: white;
}