.image__detail{
    position: relative;
    height: 100vh;
    width: 100vw;
    transform: translateX(-100vw);
    z-index: 50;
    background:var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image__detail--nom-photographe-galerie{
    font-family: 'Dancing Script', cursive;
    font-size: 4.5rem;
    text-align: center;
}

.image__detail-container{
    display: flex;
    align-items: center;
}

.image__detail-img-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 90vh;
    margin-left: 5vh;
}

.image__detail-img{
    height: 100%;
    width: 90%;
    object-fit: contain;
}

.image__detail-spec-container{
    height: 90vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5vh;
}

.image__detail-spec{
    margin-bottom: 5vh;
}

.image__detail-spec-nom-photo{
    font-size: 1.5rem;
}

.image__detail-spec-desc{
    font-style: italic;
}

.exitcross{
    position: absolute;
    cursor: pointer;
    top: 4vh;
    right: 4rem;
    font-size: 3rem;
}


@media (orientation: portrait) {

    .image__detail{
        align-items: flex-start;
    }
   
    .image__detail--nom-photographe-galerie{
        font-size: 2rem;
        margin: 2vh 0;
        width: 80vw;
    }
    
    .image__detail-container{
        flex-direction: column;
        overflow-y: scroll;
    }
    
    .image__detail-img-container{
        width: 100vw;
        max-height: 100vh;
        margin: 0;
    }
    
    .image__detail-img{
        max-width: 100vw;
        max-height: 100vh;
        height: auto;
        width: auto;
    }
    
    .image__detail-spec-container{
        height: auto;
        width: 90vw;
        padding: 0;
        margin-top: 5vh;
    }
    
    .image__detail-spec{
        margin-bottom: 5vh;
    }
    
    .exitcross{
        top: 0;
        right: 2vw;
    }

}