:root{
  --main-color: #293450;
  --secondary-color: #f1f2f6;
  --third-color: #FFD166;
  --fourth-color: #5b4dcd;
}

*, ::before, ::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  background: #923131;
  transition: all .5s ease-in-out;
}

.main-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
}

.social{
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
  font-size: 3rem;
}

.social__icon::before{
  transition: all .5s ease-in-out;
  font-size: 1rem;
  position: absolute;
  opacity: 0;
  transform: translateY(1.5rem);
}

.social__icon-flickr::before{
  content: "flickr";
}

.social__icon-flickr:hover::before{
  opacity: 1;
  transform: translate(3.15rem, 1.5rem);
}

.social__icon-instagram::before{
  content: "instagram";
}
.social__icon-instagram:hover::before{
  opacity: 1;
  transform: translate(3.15rem, 1.5rem);
}

.burger-container {
  height: 60px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  padding-left: 4%;
  cursor: pointer;
}

.burger {
  width: 50px;
  height: 6px;
  background: whitesmoke;
  border-radius: 5px;
  transition: all .5s ease-in;
}

.burger-container:hover .burger:nth-child(1){
  transform: rotate(45deg) translate(5px, -7.5px);
  transform-origin: left;
}
.burger-container:hover .burger:nth-child(2){
  transform: translateX(-20px);
  opacity: 0;
}
.burger-container:hover .burger:nth-child(3){
  transform: rotate(-45deg) translate(5px, 7.5px);
  transform-origin: left;
}

h1 {

  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
}
.mouchetage {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 0;
}

.mouchetage img{
  object-fit: fill;
}