:root{
  --main-color: #293450;
}

*, ::before, ::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Montserrat Alternates', sans-serif;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar { 
  display: none; /* Chrome Safari */
}

body {
  transition: all .5s ease-in-out;
  background: var(--main-color);
}

.main-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* --- HEADER --- */
.header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
  height: 15%;
  position: fixed;
  z-index: 30;
}

h1 {
  grid-column-start: 2;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  transition: all .5s ease-in-out;
}

.nameToTop{
  transform: translateY(-2.5vh);
  font-size: 2.5rem;
}

.slide-transition{
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: -100vw;
  background:var(--main-color);
  z-index: 60;
  transition: all 1s linear;
}