:root{
  --main-color: #293450;
  --secondary-color: #f1f2f6;
  --third-color: #FFD166;
  --fourth-color: #5b4dcd;
}

*, ::before, ::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  background: #923131;
  transition: all .5s ease-in-out;
}

.main-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

/* --- HEADER --- */
.header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
  height: 15%;
}

h1 {
  grid-column-start: 2;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  transition: all .5s ease-in-out;
}

.nameToTop{
  transform: translateY(-2.5vh);
  font-size: 4rem;
}
